.ServicesBlackSection {
    background: #111;
    margin-bottom: 50PX;
    padding: 14px 7%;  
    color: white;     
}
.ServicesBlackSection h2{
    font-style: Arial;
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px; 
}
@media (max-width: 1100px) {
    .ServicesBlackSection h2,
    .homeButton {
        margin-left: 20px;
    }
}
.homeButton{
    text-decoration: none;
    color: lightgrey;
    cursor:pointer
}
.homeButton:hover {
    color: white;
}
.homeButton{
    text-decoration: none;
    color: lightgrey;
    cursor:pointer
  }
.serviceIntro h2{
    text-align: center;
    font-size: 1.8rem;   
}  
.serviceIntro p{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.rem; 
    margin-bottom: 150px;
}
.black-section1{
    background: black;
    margin-bottom: 60px;
    padding: 100px 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;  
    transform: skewY(-3deg); 
    max-width: 100%;
}
.servicesSection h2{
    text-align: center;
    font-size: 1.9rem;
    transform: skewY(+3deg);  
  }
.servicesSection p{
    text-align: center;
    transform: skewY(+3deg);
}
.ServicesLeftText{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px; 
    transform: skewY(+3deg);    
}
.ServicesLeftText div{
    background: #1a1a1a;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.ServicesLeftText h2{
    font-size: 1.4rem;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 40px;
  color: white;
}
.ServicesLeftText p{
    color: #ddd;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 25px;
}
